*~
*.swp

########## in /ifm_test_scripts/
ifm_test_scripts/*.png
ifm_test_scripts/*.txt
ifm_test_scripts/*.pyc
ifm_test_scripts/*.pickle
ifm_test_scripts/cache/*


########## in /src/

### folders
*/db/*

########## in /docs/

### TeX things
*.aux
*.log
docs/proposal/proposal.pdf
docs/design/design.pdf
