*~

*.o
*.d
*.mk
*.elf
*.a
*.bsf
*.bak
*.dpf
*.pin
*.sof
*.qip
*.ppf
*.dat
*.summary
*.rpt
*.mif
*.ocp
*.tcl # this seems like a bad idea
*.done
*.smsg
*.jdi
*.pof
*.qws

*db/*
*.spoc_builder*
*.ptf

*nios_system*
!nios_system.vhd
*nios_system_sim/*
*modelsim*
*.metadata/
