*~
*.swp

########## in /ifm_test_scripts/
ifm_test_scripts/*.png
ifm_test_scripts/*.txt
ifm_test_scripts/*.pyc
ifm_test_scripts/*.pickle


########## in /src/

### folders
*/db/*
*/simulation/*
*/timing/*
*.bak
# qurtus archive
*.qar # quartus archive
### Quartus compilation output
*.summary
*.rpt
*.pin
*.eqn
*.qmsg
*.smsg
*.done
### Megafunction output
*.html
*.jpg
*.cmp
*.inst
### Other generated things
# SRAM obj
*.sof
# block symb
*.bsf
# design protocol, doesn't seem 
*.dpf
# pin planner
*.ppf
# prog obj
*.pof
# jtag debug
*.jdi

### generated nios things
*nios_system_sim/*
*.sopc_builder/*
*.ptf
*_ptf
# memory inititalization file
*.mif
*log.txt

### software things
*.o
*.d
*.mk
*.elf
*.a
*/software/.metadata
*/software/bin/*
*/software/tmp/*
*/software/*/Debug/*
*/.settings/*


########## in /docs/

### TeX things
*.aux
*.log
docs/proposal/proposal.pdf
docs/design/design.pdf
